body {
	font-family: "Roboto", sans-serif;
	color: #434455;
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

/* header */

/* Nav */

.title {
	font-family: "Raleway", sans-serif;
	font-size: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}

.title>span {
	color: #2e2f42;
}

.header-nav-a {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.header-nav-a:hover {
	color: #404bbf;
}

.header-nav-a:focus {
	color: #404bbf;
}

/* Address */

.header-address {
	font-style: normal;
}

.header-info-a {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.header-nav-a:hover {
	color: #404bbf;
}

.header-nav-a:focus {
	color: #404bbf;
}